@charset "UTF-8";

root{

}

.hero-animation span#hero-typed{
    color: #f13881;
}

hr.divider{
    border-top: 0;
}

footer .footer-links .footer-social-link{
    color: #000;
    font-size: 2em;
}
